#animals {
    padding: 50px 100px;
}

.animal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal p {
    padding: 0 30px;
}

#animals img {
    height: auto;
    width: 500px;
    border-radius: 50%;
}