#birds {
    padding: 50px 100px;
}

.bird {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bird p {
    padding: 0 30px;
}

#birds img {
    height: auto;
    width: 500px;
    border-radius: 50%;
}