#fishes {
    padding: 50px 100px;
}

.fish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fish p {
    padding: 0 30px;
}

#fishes img {
    height: auto;
    width: 500px;
    border-radius: 50%;
}